
/******************** Settings section **********************/

* {
    box-sizing: border-box; 
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:visited { 
    text-decoration: none;  
   }


/******************** Header section **********************/


.starbucks-logo{
    width: 50px;
    height: 50px;
}



.container {
    max-width: 90%;
    margin: 0 auto; 
}

.nav-container{
    display: flex;
    align-items: center;
    max-width: 94%;
    margin: 0 auto;
    gap: 24px;
    padding: 19px 0;
}

.primary-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.primary-nav-left {
    display: flex;
    margin-left: 10px;
    gap: 24px;
}

.primary-nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-item {
    color: black;
    font-size: 14px;
    letter-spacing: 1.5px;
}

.nav-item:hover{
    color: #006241;
}

.signin-btn{
    padding: 7px 15px;
    background-color: white;
    border-radius: 18px;
    outline: 1px solid black;
    color: black;
    font-weight: 500;
}

.join-btn {
    padding: 7px 15px;
    background-color: black;
    color: white;
    border-radius: 18px;
}

.find-store{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.find-store a{
    color: black;
}

.find-store a:hover{
    color: #006241;
}

.location-logo{
    width: 21px;
    height: 21px;
}





/******************** Rewards section **********************/





.rewards-section{
    background-color: #D4E9E2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    -webkit-box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);
    -moz-box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);
    box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);
}

.rewards-content{
    
}

.rewards-header{
    font-size: 24px;
    color: #1e3932;
}

.rewards-text{
    color: #1e3932;
    padding-top: 24px;
    font-size: 19px;
}






/******************** Promotion section **********************/





.promotion-section {
    margin-top: 30px;
    background-color: #D4E9E2;
    display: flex;

}
.promotion-section > * {
    flex-basis: 100%;
}

.promo-img{
    max-width: 100%;
    height: 100%;
   
}



.promo-text{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    
}

.promo-text-content{
    text-align: center;
    width: 70%;
}

.promo-text-header{
    font-size: 50px;
    color: #1e3932;
}

.promo-text-description{
    font-size: 24px;
    line-height: 40px;
    color: #1e3932;
}

.promo-text-btn{
    display: inline-block;
    padding: 7px 15px;
    border-radius: 18px;
    border: 1px solid black;
    background-color: transparent;
    color: #1e3932;
    font-weight: 600;
    font-size: 17px;
    margin-top: 5px;
}

.promo-secondary-color{
    background-color: #8B323E;
}

.white-text{
    color: white;
}

.white-border{
    border: 1px solid white;
}


.participating-stores{
    padding: 25px 0;;
    text-align: center;
}






/******************** Secondary navigation section **********************/



.secondary-navigation-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0 30px;
    
    -webkit-box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);
    -moz-box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);
    box-shadow: 0px -2px 3px rgba(178, 178, 178, 0.75);


}

.responsive-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.arrow{
    display: none;
    width: 30px;
    width: 30px;
}


.sec-nav-item{
    color: rgba(0,0,0,.58);
    margin: 30px 0;
}

.nav-title{
    font-size: 20px;
}



@media only screen and (max-width: 900px) {
    .nav-container{
        justify-content: center;
    }

    .rewards-content{
        text-align: center;
    }

    .promotion-section{
        flex-direction: column;
    }

    .promotion-section:last-child{
        flex-direction: column-reverse;
    }

    .promo-text-content{
        width: 80%;
    }
  
    .promo-text-description{
        font-size: 19px;
        line-height: 30px; 
    }

    .promo-text-header{
        font-size: 28px;
    }
  
    .primary-navigation{
        display: none;
    }

    .secondary-navigation-section{
        grid-template-columns: 1fr;
    }
    

    .arrow{
        display: block;
    }

    .au-dropdown{
        display: none;
    }
    .c-dropdown{
        display: none;
    }
    .si-dropdown{
        display: none;
    }
    .bp-dropdown{
        display: none;
    }
    .op-dropdown{
        display: none;
    }

    .open {
        display: block;
    }
  }




